
@{
    ViewData["Title"] = "moviedetail";
}
<div class="breadcrumb">
    <ul>
        <li>
            <a href="/" title="">Trang chủ</a>
        </li>
        <li>
            <a href="/" title="">Phim bộ</a>
        </li>
        <li>
            <a href="/" title="">Phim hồng kong</a>
        </li>
        <li>
            <span title="">Cứu Tinh Của Nàng Thiên Nga </span>
        </li>
    </ul>
</div>
<div class="clip-wrapper">
    <video id="video1" controls="" preload="auto" autoplay=""><source src="https://cdn.phoenix.intergi.com/21772/videos/5361774/video-sd.mp4"></video>
</div>

<div class="list-top">
    <ul class="row responsive">
        <li>
            <div class="content">
                <div class="image-gradient"></div>
                <img src="~/images/nguoi-dep-va-quai-vat-belle.jpg" />
                <p class="text-title">Người đẹp và quái vật</p>
                <a href="#" class="view">View</a>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="image-gradient"></div>
                <img src="~/images/nguoi-dep-va-quai-vat-belle.jpg" />
                <p class="text-title">Người đẹp và quái vật</p>
                <a href="#" class="view">View</a>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="image-gradient"></div>
                <img src="~/images/nguoi-dep-va-quai-vat-belle.jpg" />
                <p class="text-title">Người đẹp và quái vật</p>
                <a href="#" class="view">View</a>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="image-gradient"></div>
                <img src="~/images/nguoi-dep-va-quai-vat-belle.jpg" />
                <p class="text-title">Người đẹp và quái vật</p>
                <a href="#" class="view">View</a>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="image-gradient"></div>
                <img src="~/images/nguoi-dep-va-quai-vat-belle.jpg" />
                <p class="text-title">Người đẹp và quái vật</p>
                <a href="#" class="view">View</a>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="image-gradient"></div>
                <img src="~/images/nguoi-dep-va-quai-vat-belle.jpg" />
                <p class="text-title">Người đẹp và quái vật</p>
                <a href="#" class="view">View</a>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="image-gradient"></div>
                <img src="~/images/nguoi-dep-va-quai-vat-belle.jpg" />
                <p class="text-title">Người đẹp và quái vật</p>
                <a href="#" class="view">View</a>
            </div>
        </li>
        <li>
            <div class="content">
                <div class="image-gradient"></div>
                <img src="~/images/nguoi-dep-va-quai-vat-belle.jpg" />
                <p class="text-title">Người đẹp và quái vật</p>
                <a href="#" class="view">View</a>
            </div>
        </li>
    </ul>
</div>
