
@{
    ViewData["Title"] = "movie";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<div class="movie">
    <div class="breadcrumb">
        <ul>
            <li>
                <a href="/" title="">Trang chủ</a>
            </li>
            <li>
                <a href="/" title="">Phim bộ</a>
            </li>
            <li>
                <span title="">Phim bộ Trung Quốc</span>
            </li>
        </ul>
    </div>
    <h1 class="title">Phim bộ Trung Quốc</h1>
    <ul class="row list-movie">
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/logan-2017.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/master-devil-do-not-kiss-me.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/fresh-teachers.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/master-devil-do-not-kiss-me.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/logan-2017.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/master-devil-do-not-kiss-me.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/fresh-teachers.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/master-devil-do-not-kiss-me.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/logan-2017.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/master-devil-do-not-kiss-me.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/fresh-teachers.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/master-devil-do-not-kiss-me.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/logan-2017.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/master-devil-do-not-kiss-me.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/fresh-teachers.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
        <li class="col-md-3 col-sm-4">
            <div class="view view-first">
                <img src="~/images/master-devil-do-not-kiss-me.jpg" />
                <div class="mask">
                    <span>LOGAN - WOLVERINE 3</span>
                    <p>Đánh giá: 7 </p>
                    <p>Năm sản xuất: 2017</p>
                    <p class="description">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                    <div class="mask-bottom"><button href="#" class="btn">Trailer</button><button href="#" class="btn">Xem</button></div>
                </div>
            </div>
            <a href="#"><h2 class="title-movie">Người Sói: Trận Chiến Cuối Cùng </h2> </a>
            <div class="item-episodes">Tập<br /><span>05</span></div>
        </li>
    </ul>
</div>

