
@{
    ViewData["Title"] = "news";
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
}

<div class="news">
    <div class="breadcrumb">
        <ul>
            <li>
                <a href="/" title="">Trang chủ</a>
            </li>
            <li>
                <span title="">Tin tức</span>
            </li>
        </ul>
    </div>
    <div class="title">Tin tức Điện Ảnh</div>
    <ul class="hot_posts_movie">
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/dwayne-johnson-sieu-sao-co-ban-tay-vang-hiem-co-cua-hollywood.jpg" title="Dwayne Johnson - Siêu sao có bàn tay vàng hiếm có của Hollywood"></a>
                </span>
                <span class="news-title">
                    <a href="#">Dwayne Johnson - Siêu sao có bàn tay vàng hiếm có của Hollywood</a>
                    <span class="by-sumary">Siêu sao loạt phim 'Fast and Furious' có khả năng như vua trong thần thoại Hy Lạp - biến mọi dự án anh chạm tay vào thành vàng.</span><span class="by-name">VnExpress</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/hela-va-odin-trong-thor-ragnarok-lieu-ai-se-la-nguoi-manh-hon.jpg" title="Hela và Odin trong 'Thor: Ragnarok': Liệu ai sẽ là người mạnh hơn?"></a>
                </span>
                <span class="news-title">
                    <a href="#">Hela và Odin trong 'Thor: Ragnarok': Liệu ai sẽ là người mạnh hơn?</a>
                    <span class="by-sumary">Dù mới ra mắt vài ngày nhưng teaser trailer của Thor: Ragnarok cùng những hình ảnh đầu tiên của nhân vật phản diện mới – Hela vẫn đang khiến người hâm mộ không ngớt lời bàn tán.</span><span class="by-name">SaoStar</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/tat-tan-tat-ve-nhung-chi-tiet-ban-can-biet-ve-series-fargo.jpg" title="Tất tần tật về những chi tiết bạn cần biết về series 'Fargo'"></a>
                </span>
                <span class="news-title">
                    <a href="#">Tất tần tật về những chi tiết bạn cần biết về series 'Fargo'</a>
                    <span class="by-sumary">Mùa phim thứ 3 của Fargo báo hiệu những câu chuyện sẽ còn đáng chú ý và đặc biệt hơn bao giờ hết.  </span><span class="by-name">Kênh 14</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/ninh-binh-phuc-dung-lang-tho-dan-trong-kong-skull-island.jpg" title="Ninh Bình đưa làng thổ dân trong 'Kong: Skull Island' vào du lịch"></a>
                </span>
                <span class="news-title">
                    <a href="#">Ninh Bình đưa làng thổ dân trong 'Kong: Skull Island' vào du lịch</a>
                    <span class="by-sumary"> Ngôi làng thổ dân trong bom tấn "Kong: Skull Island" với khoảng 40 chiếc lều đã được Ninh Bình phục dựng từ kinh phí của doanh nghiệp. </span><span class="by-name">Zing</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/so-sanh-co-bap-3-sieu-sao-fast-and-furious-8.jpg" title="Cân đo cơ bắp của 3 siêu sao bảnh nhất 'Fast 8'"></a>
                </span>
                <span class="news-title">
                    <a href="#">Cân đo cơ bắp của 3 siêu sao bảnh nhất 'Fast 8'</a>
                    <span class="by-sumary">Dwayne Johnson, Vin Diesel và Jason Statham luôn là tâm điểm của các fan series 'Quá nhanh quá nguy hiểm, nhưng ngoài đời, cả 3 có khác biệt khá lớn về ngoại hình. </span><span class="by-name">Zing</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/co-gai-va-ga-khong-lo-tua-phim-vien-tuong-dang-xem-trong-thang-nay.jpg" title="'Cô Gái Và Gã Khổng Lồ' - Tựa phim viễn tưởng đáng xem trong tháng này"></a>
                </span>
                <span class="news-title">
                    <a href="#">'Cô Gái Và Gã Khổng Lồ' - Tựa phim viễn tưởng đáng xem trong tháng này</a>
                    <span class="by-sumary">Colossal - Cô Gái Và Gã Khổng Lồ là tựa phim viễn tưởng đình đám mới của nữ diễn viên Anne Hathaway đang chuẩn bị được ra mắt tại Việt Nam.</span><span class="by-name">GameK</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/dwayne-johnson-sieu-sao-co-ban-tay-vang-hiem-co-cua-hollywood.jpg" title="Dwayne Johnson - Siêu sao có bàn tay vàng hiếm có của Hollywood"></a>
                </span>
                <span class="news-title">
                    <a href="#">Dwayne Johnson - Siêu sao có bàn tay vàng hiếm có của Hollywood</a>
                    <span class="by-sumary">Siêu sao loạt phim 'Fast and Furious' có khả năng như vua trong thần thoại Hy Lạp - biến mọi dự án anh chạm tay vào thành vàng.</span><span class="by-name">VnExpress</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/hela-va-odin-trong-thor-ragnarok-lieu-ai-se-la-nguoi-manh-hon.jpg" title="Hela và Odin trong 'Thor: Ragnarok': Liệu ai sẽ là người mạnh hơn?"></a>
                </span>
                <span class="news-title">
                    <a href="#">Hela và Odin trong 'Thor: Ragnarok': Liệu ai sẽ là người mạnh hơn?</a>
                    <span class="by-sumary">Dù mới ra mắt vài ngày nhưng teaser trailer của Thor: Ragnarok cùng những hình ảnh đầu tiên của nhân vật phản diện mới – Hela vẫn đang khiến người hâm mộ không ngớt lời bàn tán.</span><span class="by-name">SaoStar</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/tat-tan-tat-ve-nhung-chi-tiet-ban-can-biet-ve-series-fargo.jpg" title="Tất tần tật về những chi tiết bạn cần biết về series 'Fargo'"></a>
                </span>
                <span class="news-title">
                    <a href="#">Tất tần tật về những chi tiết bạn cần biết về series 'Fargo'</a>
                    <span class="by-sumary">Mùa phim thứ 3 của Fargo báo hiệu những câu chuyện sẽ còn đáng chú ý và đặc biệt hơn bao giờ hết.  </span><span class="by-name">Kênh 14</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/ninh-binh-phuc-dung-lang-tho-dan-trong-kong-skull-island.jpg" title="Ninh Bình đưa làng thổ dân trong 'Kong: Skull Island' vào du lịch"></a>
                </span>
                <span class="news-title">
                    <a href="#">Ninh Bình đưa làng thổ dân trong 'Kong: Skull Island' vào du lịch</a>
                    <span class="by-sumary"> Ngôi làng thổ dân trong bom tấn "Kong: Skull Island" với khoảng 40 chiếc lều đã được Ninh Bình phục dựng từ kinh phí của doanh nghiệp. </span><span class="by-name">Zing</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/so-sanh-co-bap-3-sieu-sao-fast-and-furious-8.jpg" title="Cân đo cơ bắp của 3 siêu sao bảnh nhất 'Fast 8'"></a>
                </span>
                <span class="news-title">
                    <a href="#">Cân đo cơ bắp của 3 siêu sao bảnh nhất 'Fast 8'</a>
                    <span class="by-sumary">Dwayne Johnson, Vin Diesel và Jason Statham luôn là tâm điểm của các fan series 'Quá nhanh quá nguy hiểm, nhưng ngoài đời, cả 3 có khác biệt khá lớn về ngoại hình. </span><span class="by-name">Zing</span>
                </span>
            </div>
        </li>
        <li>
            <div class="content-news">
                <span class="news-thumb">
                    <a href="#"><img src="http://static.hdonline.vn/i/resources/new/post/thumb/2017/04/19/co-gai-va-ga-khong-lo-tua-phim-vien-tuong-dang-xem-trong-thang-nay.jpg" title="'Cô Gái Và Gã Khổng Lồ' - Tựa phim viễn tưởng đáng xem trong tháng này"></a>
                </span>
                <span class="news-title">
                    <a href="#">'Cô Gái Và Gã Khổng Lồ' - Tựa phim viễn tưởng đáng xem trong tháng này</a>
                    <span class="by-sumary">Colossal - Cô Gái Và Gã Khổng Lồ là tựa phim viễn tưởng đình đám mới của nữ diễn viên Anne Hathaway đang chuẩn bị được ra mắt tại Việt Nam.</span><span class="by-name">GameK</span>
                </span>
            </div>
        </li>
    </ul>
</div>
