<table class="table BXH">
        <thead>
            <tr>
                <th colspan="2">Top Bu</th>
                <th>Điểm</th>
                <th>List</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"><em>1</em></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"><em>2</em></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"><em>3</em></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
            <tr>
                <td>
                    <div class="avata-user">
                        <img src="~/images/logan-2017.jpg" />
                        <span class="num"></span>
                    </div>
                </td>
                <td class="link-user"><a href="#">rosemarry</a></td>
                <td>200</td>
                <td>10</td>
            </tr>
        </tbody>
    </table>